.menu-items {
    width: 225px;
    .menu-item {
        color: #333;
        width: 100%;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 0;
        padding: 11px 16px;
        &:hover {
            background-color: rgb(239, 237, 234);
        }
        .icon {
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            text-align: center;
        }
    }
}

.menu-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}
